.activity {
  background-color: var(--gray);
  width: 100%;
  border-radius: 2rem;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.paragraph {
  color: var(--text-unactive);
  font-size: 0.9rem;
}

.graph {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graphImage {
  width: 90%;
  max-height: 150px;
}

.days {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: var(--text-unactive);
  font-size: 0.9rem;
}
